<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}

  <title>Gizem's application deployed automatically</title>
  <p>My method takes 4 parameters as argument. First one is integer array. Second is int arraylist</p>
  <p>Third and fourth ones are integers which they should not be 0 or negative integers.</p>
  <p>I multiply the integer array with 3rd argument. </p>
  <p>Then I multiply the arraylist with 4th arg. </p>
  <p>Finally I add the arraylist onto the array. </p>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

